<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anjinma.numberpang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ModeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeAttackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".RankInfiniteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".InfiniteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PauseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ExitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
        <activity
            android:name=".HellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankChallengeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RankTimeAttackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RankHellActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WayFirstActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WaySecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WayThirdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WayFourthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WayFifthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WaySixthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TierInfiniteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TierChallengeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TierTimeAttackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TierHellActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>